/* ------------------ */
/* Font Import        */
/* ------------------ */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap");

/* ------------------ */
/* Variables          */
/* ------------------ */

:root {
  /* Colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;

  /* font-sizes */
  --fS-900: clamp(5rem, 10vw + 1rem, 9.375rem);
  --fS-800: 3.5rem;
  --fS-700: 1.5rem;
  --fS-600: 1rem;
  --fS-500: 1rem;
  --fS-400: 0.9375rem;
  --fS-300: 1rem;
  --fS-200: 0.875rem;
}

/* 
  ##Device = Tablets (portrait)
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  :root {
    --fS-800: 5rem;
    --fS-700: 2.5rem;
    --fS-600: 1.5rem;
    --fS-500: 1.25rem;
    --fS-400: 1rem;
  }
}

/* 
  ##Device = Desktops / Tablets in landscape
*/

@media (min-width: 1025px),
  (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  :root {
    /* font-sizes */
    --fS-800: 6.25rem;
    --fS-700: 3.5rem;
    --fS-600: 2rem;
    --fS-500: 1.75rem;
    --fS-400: 1.125rem;
  }
}

/* ------------------ */
/* Colors             */
/* ------------------ */
.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-light {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-light {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
  /* color: hsl(0 0% 100%); */
}

/* ------------------ */
/* Typography         */
/* ------------------ */

/* font-size */
.fs-900 {
  font-size: var(--fS-900);
}
.fs-800 {
  font-size: var(--fS-800);
}
.fs-700 {
  font-size: var(--fS-700);
}
.fs-600 {
  font-size: var(--fS-600);
}
.fs-500 {
  font-size: var(--fS-500);
}
.fs-400 {
  font-size: var(--fS-400);
}
.fs-300 {
  font-size: var(--fS-300);
}
.fs-200 {
  font-size: var(--fS-200);
}

/* font-weight */
.fw-400 {
  font-weight: 400;
}
.fw-700 {
  font-weight: 700;
}

/* font-family */
.ff-sans {
  font-family: var(--ff-sans-normal);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-serif {
  font-family: var(--ff-serif);
}

.letter-spacing-1 {
  letter-spacing: 2.35px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 4.75px;
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: var(--font-lineheight-0);
}

.uppercase {
  text-transform: uppercase;
}

/* ------------------ */
/* General            */
/* ------------------ */
.flex {
  display: flex;
}

.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}
/* ------------------ */
/* Components         */
/* ------------------ */
.underline-indicators > * {
  list-style: none;
  cursor: pointer;
  border: none;
  border-bottom: var(--size-1) solid hsl(var(--clr-white) / 0);
  padding-block: var(--size-5);
  transition: border-color 250ms ease-in-out;
}

.underline-indicators > *:hover {
  border-color: hsl(var(--clr-white) / 0.25);
}

.underline-indicators > .router-link-exact-active,
.underline-indicators > [aria-selected="true"] {
  color: hsl(var(--clr-white));
  border-color: hsl(var(--clr-white) / 1);
}

.numbered-title > span {
  padding-right: var(--size-4);
  color: hsl(var(--clr-white) / 0.4);
}

/* ------------------ */
/* Layout             */
/* ------------------ */

/* 
  ##Device = Smartphones Mobiles 
*/
.grid-container {
  display: grid;
  place-items: center;
  text-align: center;
  padding-inline: 1rem;
  padding-bottom: 4rem;
}

.grid-container p {
  max-width: 50ch;
}

/* 
  ##Device = Desktops / Tablets in landscape
*/
@media (min-width: 1025px),
  (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
        1rem,
        1fr
      );
  }
}

/* 
  ##Device = Tablets (portrait)
*/
@media (min-width: 768px) and (max-width: 1024px) {
}
